.main-navbar {
  background-color: #2c3e50;
}

.main-navbar-text {
  color: white;
  cursor: pointer;
}

.main-navbar-text:hover {
  color: white;
}

.heading-margin {
  margin-left: 30px;
}

.margin {
  margin-left: 500px;
}

.logout-margin {
  margin-left: 200px;
}
